<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <!-- TODO: Eliminar Logout -->
    <a (click)="logout()" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
      {{ "core_brand" | translate }}
    </a>
    <!-- Doc: CARD -->
    <div class="form-card">
      <div class="form-card-body">
        <!-- Doc: TITLE -->
        <h1 class="form-card-title">
          {{ "login_title" | translate }}
        </h1>
        <!-- Doc: FORM -->
        <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Doc: BTN  Google Button -->
          <button type="button" (click)="loginGoogle()" class="btn-secondary">
            <!-- <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              viewBox="0 0 18 19">
              <path fill-rule="evenodd"
                d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z"
                clip-rule="evenodd" />
            </svg> -->


<svg class="w-4 h-4 me-2" aria-hidden="true" width="256px" height="256px" viewBox="-0.5 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">

  <title>Google-color</title>
  <desc>Created with Sketch.</desc>
  <defs>

  </defs>
  <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Color-" transform="translate(-401.000000, -860.000000)">
      <g id="Google" transform="translate(401.000000, 860.000000)">
        <path
          d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
          id="Fill-1" fill="#FBBC05">
        </path>
        <path
          d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
          id="Fill-2" fill="#EB4335">
        </path>
        <path
          d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
          id="Fill-3" fill="#34A853">
        </path>
        <path
          d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
          id="Fill-4" fill="#4285F4">
        </path>
      </g>
    </g>
  </g>
</svg>



            {{ "login_btn_google" | translate }}
          </button>
          <!-- Doc: DIVIDER -->
          <div class="inline-flex items-center justify-center w-full">
            <hr class="w-96 h-0.5 my-2 bg-gray-200 border-0 rounded dark:bg-gray-700">
            <div class="absolute px-4 -translate-x-1/2 bg-white left-1/2 dark:bg-gray-800">
              <p class="text-gray-400 dark:text-gray-200">
                o
              </p>
            </div>
          </div>
          <!-- Doc: INPUT email -->
          <div>
            <label for="email" class="label">
              {{ "login_field_email" | translate }}
            </label>
            <input type="email" name="email" id="email" class="field-input" formControlName="email"
              [ngClass]="{'field-invalid': hasError('email')}" [placeholder]="'login_placeholder_email' | translate"
              required="">
            <ui-error-message [control]="form.get('email')!" />
          </div>
          <!-- Doc: INPUT password -->
          <div>
            <label for="password" class="label">
              {{ "login_field_password" | translate }}
            </label>
            <input type="password" name="password" id="password" class="field-input" formControlName="password"
              [ngClass]="{'field-invalid': hasError('password')}" placeholder="••••••••" required="">
            <ui-error-message [control]="form.get('password')!" />
          </div>
          <!-- Doc: LINK Forgot password -->
          <div class="flex items-center justify-end">
            <a routerLink="/auth/forgot-password" class="form-card-link">
              {{ "login_link_forgot" | translate }}
            </a>
          </div>
          <!-- Doc: BTN Login -->
          <button type="submit" class="btn-primary" [disabled]=!form.valid>
            {{ "login_btn" | translate }}
          </button>
          <!-- <span><ui-btn-primary [title]="'login_btn'" (click)="onClick($event)" [disabled]=!form.valid /></span> -->
          <!-- Doc: LINK Register -->
          <p class="text-sm font-light text-gray-500 dark:text-gray-300">
            {{ "login_text_signUp" | translate }}
            <a routerLink="/auth/register" class="form-card-link">
              {{ "login_link_signUp" | translate }}
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
<pre>{{ user$ | async | json }}</pre>
